.todo{
  border: 4px dashed #666;
  min-width: 68%;
  height: 90vh;
  margin: 1rem;
  border-radius: 6px;
}
.todo form input{
  outline: none;
  border-radius: 13px;
  padding: .4em .8em;
  margin-right: 1em;
}
.todo form button{
  outline: none;
  border-radius: 13px;
  padding: .4em .8em;
  background-color: #fff;
}